@font-face {
    font-family: 'Mate SC', 'Diplomata', 'IM Fell DW Pica SC', 'IM Fell English SC';
}

#main{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 850px;
    height: 650px;
}

#main_map-screened{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 850px;
    height: 650px;
    z-index: 0;
}

#main_map{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 850px;
    height: 650px;
    z-index: 0;
}

#tutorial_map-screened{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 850px;
    height: 650px;
    z-index: 0;
}

#tutorial_map{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 850px;
    height: 650px;
    z-index: 0;
}

#gameWindow{
    position: absolute;
    left: 25px;
    top: 25px;
    width: 800px;
    height: 600px;
    z-index: 1;

     -moz-user-select     : none;
     -khtml-user-select   : none;
     -webkit-user-select  : none;
     -o-user-select       : none;
     user-select          : none;
}
